* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textColor: white;
  --strokeColor: rgba(255, 255, 255, 0.5);
  --surfaceColor: rgba(255, 255, 255, 0.5);
  --surgaceColorHover: rgba(0, 0, 0, 0.02);
  --highlightColor: rgba(255, 255, 255, 0.2);
  --backgroundColor0: rgb(0, 0, 0);
  --backgroundColor1: rgba(255, 0, 150, 0.5);
  --backgroundColor2: rgba(0, 166, 255, 0.5);
  --switchBgrUrl: url("/assets/moon-stars.svg");
}
.light {
  --textColor: black;
  --strokeColor: rgba(0, 0, 0, 0.5) --surfaceColor: rgba(0, 0, 0, 0.5);
  --surgaceColorHover: rgba(0, 0, 0, 0.02);
  --highlightColor: rgba(0, 0, 0, 0.2);
  --backgroundColor0: rgb(200, 200, 200);
  --backgroundColor1: rgba(255, 68, 177, 0.5);
  --backgroundColor2: rgba(36, 179, 255, 0.5);
  --switchBgrUrl: url("/assets/sun.svg");
}
body {
  height: 100vh;
  background:
    radial-gradient(
      circle at 90% 00%,
      var(--backgroundColor1),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 100% 20%,
      var(--backgroundColor2),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 10% 100%,
      var(--backgroundColor1),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 0% 70%,
      var(--backgroundColor2),
      transparent 45.5%
    ),
    var(--backgroundColor0);
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--textColor);
}
.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
.profile {
  text-align: center;
  padding: 24px;
}
.profile img {
  width: 112px;
  border-radius: 100%;
  box-shadow:
    -2px -2px 0 var(--strokeColor),
    2px 2px 0 var(--strokeColor),
    -2px 2px 0 var(--strokeColor),
    2px -2px 0 var(--strokeColor);
}
.profile p {
  font-weight: 500;
  font-size: 24px;
  margin-top: 8px;
}
.profile a {
  text-decoration: none;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switchBgrUrl) no-repeat center;
  border: 0;
  border-radius: 50%;

  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}
.light #switch button:hover {
  outline: 8px solid var(--highlightColor);
}
