* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textColor: white;
  --strokeColor: rgba(255, 255, 255, 0.5);
  --surfaceColor: rgba(255, 255, 255, 0.05);
  --surgaceColorHover: rgba(0, 0, 0, 0.02);
  --highlightColor: rgba(255, 255, 255, 0.2);
  --backgroundColor0: rgb(0, 0, 0);
  --backgroundColor1: rgba(255, 0, 150, 0.5);
  --backgroundColor2: rgba(0, 166, 255, 0.5);
  --switchBgrUrl: url("/assets/moon-stars.svg");
}
.light {
  --textColor: black;
  --strokeColor: rgba(0, 0, 0, 0.5);
  --surfaceColor: rgba(0, 0, 0, 0.05);
  --surgaceColorHover: rgba(0, 0, 0, 0.02);
  --highlightColor: rgba(0, 0, 0, 0.2);
  --backgroundColor0: rgb(200, 200, 200);
  --backgroundColor1: rgba(255, 68, 177, 0.5);
  --backgroundColor2: rgba(36, 179, 255, 0.5);
  --switchBgrUrl: url("/assets/sun.svg");
}
body {
  height: 100vh;
  background:
    radial-gradient(
      circle at 90% 00%,
      var(--backgroundColor1),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 100% 20%,
      var(--backgroundColor2),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 10% 100%,
      var(--backgroundColor1),
      transparent 45.5%
    ),
    radial-gradient(
      circle at 0% 70%,
      var(--backgroundColor2),
      transparent 45.5%
    ),
    var(--backgroundColor0);
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--textColor);
}
.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  border-radius: 100%;
  box-shadow:
    -2px -2px 0 var(--strokeColor),
    2px 2px 0 var(--strokeColor),
    -2px 2px 0 var(--strokeColor),
    2px -2px 0 var(--strokeColor);
}
#profile p {
  font-weight: 500;
  font-size: 24px;
  margin-top: 8px;
}
#profile a {
  text-decoration: none;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switchBgrUrl) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button:hover {
  outline: 8px solid var(--highlightColor);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surfaceColor);
  border: 1px solid var(--strokeColor);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surfaceColor);
  border: 1px solid var(--strokeColor);
  border-radius: 10px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
ul li a:hover {
  background: var(--surgaceColorHover);
  border: 1.5px solid var(--textColor);
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
  gap: 16px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlightColor);
}
footer{
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
@keyframes slide-in{
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-out{
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}